SECRET_KEY=GENERISITE-DUGACAK-NASUMICAN-SECRET
DEBUG=False
ALLOWED_HOSTS=gordon.ba,www.gordon.ba
CORS_ALLOWED_ORIGINS=https://gordon.ba,https://www.gordon.ba
CSRF_TRUSTED_ORIGINS=https://gordon.ba,https://www.gordon.ba
APP_BASE_PATH=backend

SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=False

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306

EMAIL_HOST=mail.gordondm.com
EMAIL_PORT=587
EMAIL_HOST_USER=info@gordondm.com
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=info@gordondm.com
CONTACT_RECIPIENT=info@gordondm.com

IMAP_HOST=mail.gordondm.com
IMAP_PORT=993
IMAP_USER=info@gordondm.com
IMAP_PASSWORD=
IMAP_USE_SSL=True
