SECRET_KEY=replace-with-a-long-random-value
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
# DB_NAME=
# DB_USER=
# DB_PASSWORD=
# DB_HOST=localhost

# Email podaci iz Verpex cPanela (Email Accounts > Connect Devices)
# EMAIL_HOST=mail.vasadomena.com
# EMAIL_PORT=587
# EMAIL_HOST_USER=info@vasadomena.com
# EMAIL_HOST_PASSWORD=
# EMAIL_USE_TLS=True
# DEFAULT_FROM_EMAIL=info@vasadomena.com
# CONTACT_RECIPIENT=info@vasadomena.com
